[tron]
# What host does the tron hub run on?
tronHost = mhs-ics
# What tron port do we connect to. This is defined by tron.
tronCmdrPort = 6093

[alerts]
updateInterval = 60
datadir = $ICS_MHS_DATA_ROOT/alerts
parts = n1, n8, r3, r8, rough1, rough2

# Which interface/address we should _listen_ on. 'localhost' does not open security holes!
interface = mhs-ics
# Which port do we listen for connections from tron on? This needs to match the one in tron's config/hub.py 
port = 0

[sts]
host = localhost

[logging]
logdir = $ICS_MHS_LOGS_ROOT/actors/alerts
baseLevel = 20
ioLevel = 20
cmdLevel = 20
dispatchLevel = 30
consoleLevel = 20
